body {
    height: 100%;
    margin: 0;
}
  
#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    
}           

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
    width: 90%;
}

h1 {
    color:rgb(203, 199, 98);
    text-align: center;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}